body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.contents{border-radius: 10px; border: 1px solid #ddd;padding: 25px; min-height:450px;
         overflow: hidden; margin-top: 20px;}
.contentsate{border-radius: 10px; border: 1px solid #ddd;padding: 20px; min-height:250px;
         overflow: hidden; margin-top: 10px; margin-bottom: 10px; ; max-width: 100%;}
.contentsdocu{border-radius: 10px; border: 1px solid #ddd;padding: 20px; min-height:250px;
         overflow: hidden; margin-top: 10px; margin-bottom: 10px; ; max-width: 100%;}
.tableList td img{max-width: 25px; margin: 3px;}